<!--article.html-->

<!-- header.html 템플릿을 이 위치에 포함시킵니다 -->
{{ template "header.html" .}}

<h1>{{.articles.Title}}</h1>
<p style="color: gray;">작성일: {{.articles.FormattedCreatedAt}}</p>
<hr>
{{ if ne .articles.CreatedAt .articles.UpdatedAt }}
    <p style="color: blue;">(수정됨: {{.articles.FormattedUpdatedAt}})</p>
{{ end }}
<p>{{.articles.Content}}</p>

<a href="/article/edit/{{.articles.ID}}">
    <button type="button">수정하기</button>
</a>

<button type="button" onclick="deleteArticle('{{.articles.ID}}')">삭제</button>

<script>
function deleteArticle(id) {
    if (!confirm('정말 삭제하시겠습니까?')) return;

    // 자바스크립트로 진짜 DELETE 요청을 보냅니다.
    fetch('/article/' + id, {
        method: 'DELETE',
    }).then(response => {
        if (response.ok) {
            window.location.href ="/"
        } else {
            alert('삭제 실패!');
        }
    });
}
</script>

<!-- footer.html 템플릿을 이 위치에 포함시킵니다 -->
{{ template "footer.html" .}}